@font-face {
  font-family: "WWFRegular";
  src: url("../fonts/f1.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "WWFopensansBold";
  src: url("../fonts/opensansBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "WWFlightWebfont";
  src: url("../fonts/lightWebfont.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
}

div,
p,
a,
img,
form,
button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

svg, img {
  display: block;
}

.header_wrapper {
  display: block;
  font-size: 13px;
  line-height: 1.5;
  padding: 20px 10px 12px 10px;
}

.header_wrapper_black {
  background: black;
}

.header {
  display: block;
  position: relative;
  height: 40px;
  width: 1200px;
  margin: 0 auto;
}

.header__container {
  font-family: "WWFRegular", serif;
  line-height: 40px;
  margin: 0 auto;
  display: flex;
}

.header__logo {
  display: block;
  height: 120px;
  width: 100px;
  position: absolute;
  top: 0px;
  z-index: 3;
  top: -20px;
}

.header .nav a {
  display: block;
  font-weight: bold;
}

.header__nav {
  margin-left: 308px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 10px;
}

.nav {
  display: flex;
  justify-content: center;
}
.nav li > a:first-of-type {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: normal;
  display: block;
  padding: 0 10px;
}

.header .nav > li > a {
  text-transform: uppercase;
}

.header__right {
  margin-left: 11px;
  font-size: 13px;
}
.header__right ul {
  display: flex;
  justify-content: end;
}

.gray {
  display: block;
  font-family: "WWFopensansBold", serif;
  font-size: 13px;
  font-weight: lighter;
  font-size: 100%;
  color: #989b97;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.action-primary {
  margin: 0 10px;
}

.form-inline {
  position: absolute;
  width: 100px;
}

.form-inline input {
  box-shadow: none;
  border-color: #000;
  border-radius: 3px;
  height: 30px;
  line-height: 1;
  width: 100%;
}

.header_section {
  position: relative;
}

.attribution {
  color: #fff;
  font-size: 9px;
  position: absolute;
  right: 15px;
  text-shadow: 0 1px 0 #000;
  top: 11px;
  z-index: 4;
}

.header_section_main {
  background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/18701/images/hero_full/Medium_WW22786.jpg?1582815937");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: auto;
  position: relative;
}

.header_section_title_wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: 3;
}
.header_section_title_wrapper .header_section_title {
  color: #fff;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}
.header_section_title_wrapper h2 {
  text-transform: uppercase;
  font: 52px/1.1 OpenSansRegular, Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
}

footer {
  margin-top: 30px;
}

.footer_email_signup {
  background: black;
  color: #cccccc;
  padding-bottom: 1.53061225%;
  padding-top: 1.53061225%;
}

.row_wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
}
.row_wrap a {
  background-color: #d55c19;
  border: none;
  margin-left: 10px;
  padding: 9px 25px 9px 15px;
  margin-left: 10px;
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-style: italic;
}

.footer_nav {
  display: flex;
  justify-content: center;
}

.nav-social {
  display: flex;
}

.action {
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 0 15px;
  font-family: "WWFopensansBold", serif;
  text-transform: uppercase;
}

.action-primary {
  background: #d55c19;
  border-radius: 2px;
  margin-left: 0;
}

.action-secondary {
  background: #e98300;
  border-radius: 2px;
}

.dropdown-control {
  position: relative;
  display: block;
}

.dropdown-control a:hover .dropdown {
  display: block;
  color: #006ea5;
  background: #faf8f8;
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  background: #faf8f8;
  width: 530px;
  transition: opacity 0.25s ease-in-out;
  font-size: 12px;
  font: inherit;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.primary {
  width: 350px;
}

.secondary {
  background: #f6f5f3;
  border-left: 1px solid #f0eeeb;
  padding: 11px 0 0 0;
  width: 180px;
}

.homepagecard {
  position: relative;
  padding: 50px 0;
  margin-top: 0;
  background: #f6f5f2;
}

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.title::before,
.title::after {
  background: rgba(80, 55, 55, 0.15);
  content: "";
  display: block;
  height: 6px;
  margin: 0 auto;
  width: 80px;
}

.intro {
  margin-top: 3em;
}
.intro p {
  text-align: center;
}

.highlits {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 1.5em;
}

.six_areas {
  display: flex;
  justify-content: center;
}

.area {
  margin-top: 10px;
  padding: 0 50px;
}
.area img {
  border-radius: 50%;
}
.area h4 {
  text-align: center;
  font-family: "WWFRegular";
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  margin: 0.4em 0 0.25em 0;
  text-transform: uppercase;
}

.homepage-help_wrapper {
  margin: 45px 0;
  position: relative;
  text-align: center;
}

.wrapper_grid {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 480px);
  grid-template-columns: repeat(4, 300px);
}

.card {
  margin: 0 5px 10px 5px;
  border-radius: 2%;
}

.card1 {
  grid-column: 1/3;
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18683/images/card_2_large/snow_leopards.JPG?1582036438);
  background-size: contain;
  align-items: end;
}

.card2 {
  background: #d55c19;
  transition: all 200ms ease-in-out;
}

.card3 {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18457/images/card_1_large/DRTV_homepage_polarbear.jpg?1579107326);
  align-items: flex-end;
}

.card4 {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18640/images/card_1_large/Medium_WW226339.jpg?1581015064);
}

.card5 {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18138/images/card_1_large/2019-11-GivingTuesday.jpg?1574700445);
}

.card6 {
  grid-column: 3/5;
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/14210/images/card_2_large/112364.jpg?1504718636);
}

.card7 {
  grid-column: 1/3;
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18686/images/card_2_large/Medium_WW147221.jpg?1582220251);
}

.card8 {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18687/images/card_1_large/Medium_WW187792.jpg?1582224389);
}

.card9 {
  background-color: black;
}

.homepage-help_grid {
  display: grid;
  grid-template-rows: 480px;
  grid-template-columns: 590px 590px;
}

.card_help1 {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/16677/images/card_2_large/2018-11-20-pandanation-celebrate.jpg?1546530756);
}

.card_help2 {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18053/images/card_2_large/Small_WW164079_%281%29.jpg?1572550575);
}

/*# sourceMappingURL=main.css.map */
