.header_wrapper {
  display: block;
  background: black;
  font-size: 13px;
  line-height: 1.5;
  padding: 20px 10px 12px 10px;
}

.header {
  display: block;
  position: relative;
  height: 40px;
  width: 1200px;
  margin: 0 auto;
}

.header__container {
  font-family: "WWFRegular", sans-serif;
  line-height: 40px;
  margin: 0 auto;
  display: flex;
}

.header__logo {
  display: block;
  height: 120px;
  width: 100px;
  position: absolute;
  top: 0px;
  z-index: 3;
  top: -20px;
}

.header .nav a {
  display: block;
  font-weight: bold;
}

.header__nav {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 10px;
  margin-left: 350px;
}

.nav {
  display: flex;
  justify-content: center;
}
.nav li > a:first-of-type {
  text-transform: uppercase;
  color: #fffdfd;
  display: block;
  padding: 0px 10px;
}

.header .nav > li > a {
  text-transform: uppercase;
}

.header__right {
  margin-left: auto;
}
.header__right ul {
  display: flex;
  justify-content: end;
}

.header_section {
  position: relative;
}

.attribution {
  color: #fff;
  font-size: 9px;
  position: absolute;
  right: 15px;
  text-shadow: 0 1px 0 #000;
  top: 11px;
  z-index: 4;
}

.header_section_main {
  background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/18701/images/hero_full/Medium_WW22786.jpg?1582815937");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
  position: relative;
}

.header_section_title_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}
.header_section_title_wrapper .header_section_title {
  color: white;
  position: absolute;
  margin: 0 120px;
  bottom: 0;
  z-index: 3;
  padding: 30px 15px;
}
.header_section_title_wrapper .header_section_title h2 {
  text-transform: uppercase;
  font: 52px/1.1 OpenSansRegular, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.header_section_title_wrapper .header_section_title h3 {
  margin-bottom: 2px;
}

@font-face {
  font-family: "WWFRegular";
  src: url(/public/fonts/wwf-webfont-f452969e98fb1efa7dd39a896d140cf55c446264182df67ccc19a48d931974ca.ttf) format(truetype);
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
}

div,
p,
a,
img,
form,
button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

svg, img {
  display: block;
}

.action {
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
  padding: 0 15px;
}

.action-primary {
  background: #d55c19;
  margin-left: 0;
}

.action-secondary {
  background: #e98300;
}

.dropdown-control {
  position: relative;
  display: block;
}

.dropdown-control a:hover .dropdown {
  display: block;
  color: #006ea5;
  background: #faf8f8;
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  background: #faf8f8;
  width: 530px;
  transition: opacity 0.25s ease-in-out;
  font-size: 12px;
  font: inherit;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.primary {
  width: 350px;
}

.secondary {
  background: #f6f5f3;
  border-left: 1px solid #f0eeeb;
  padding: 11px 0 0 0;
  width: 180px;
}

.homepagecard {
  position: relative;
  padding: 50px 0;
  margin-top: 0;
  background: #f6f5f2;
}

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.title::before,
.title::after {
  background: rgba(80, 55, 55, 0.15);
  content: "";
  display: block;
  height: 6px;
  margin: 0 auto;
  width: 80px;
}

.intro {
  margin-top: 3em;
}
.intro p {
  text-align: center;
}

.highlits {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 1.5em;
}

.six_areas {
  display: flex;
  justify-content: center;
}

.area {
  margin-top: 10px;
  padding: 0 50px;
}
.area img {
  border-radius: 50%;
}
.area h4 {
  text-align: center;
  font-family: "WWFRegular";
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  margin: 0.4em 0 0.25em 0;
  text-transform: uppercase;
}

.wrapper_grid {
  margin-top: 45px;
}

.card_bgi {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18683/images/card_2_large/snow_leopards.JPG?1582036438);
  background-size: contain;
}

/*# sourceMappingURL=main.css.map */
