body {
    padding: 0;
    margin: 0;
}


.checkbox_ball {
    display: none;
}


.label_ball {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 3s cubic-bezier(0.29, 0.66, 0.54, 0.82);
}

.soccer-ball {
    width: 60px;
    height: 60px;
}

.checkbox_ball:checked~.label_ball {
    transform: translateX(540px) rotate(720deg);
}