

@font-face {
    font-family: "WWFRegular";
    src: url("../fonts/f1.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "WWFopensansBold";
    src: url("../fonts/opensansBold.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "WWFlightWebfont";
    src: url("../fonts/lightWebfont.ttf") format('truetype');
    font-weight: normal;
}