body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 252, 252);
}

.gradient_background {
    display: block;
    width: 100%;
    height: 790px;
    background: linear-gradient(rgba(43, 43, 42));
}

.header {
    display: block;
    width: 100%;
    height: 790px;
    background-image:  url(bgi.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 252, 252);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
    text-indent: 0.2em;
}

.head {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.head__logo {
    padding-left: 20px;
    width: calc(100%/3);
}

.head__contacts {
    display: flex;
    width: calc(100%/3);
    align-items: center;
    justify-content: space-around;
    /* position: relative; */
    /* text-align: center; */
    padding-right: 20px;
}

.h1 {
    display: block;
    height: 200px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.45;
    font-weight: 900 bold;
    text-align: center;
    font-size: 30px
}


/* <!-- 3 отдела с предложениями --> */
.offer_section {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.section {
    display: flex;
    width: 300px;

}

/* ЗАПИШИСЬ */
.signup {
    text-align: center;
    line-height: 1.2;
}

button {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: rgb(250, 99, 99);
    height: 50px;
    padding: 2px 20px;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;

}