footer {
    margin-top: 30px;
}
.footer_email_signup {
    background: rgb(0, 0, 0);
    color: rgb(204, 204, 204);
    padding-bottom: 1.53061225%;
    padding-top: 1.53061225%;
}

.row_wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: center;
    a {
        background-color: rgb(213, 92, 25);
        border: none;
        margin-left: 10px;
        padding: 9px 25px 9px 15px;
        margin-left: 10px;
        position: relative;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-style: italic;
    }
}
 
.footer_nav {
    display: flex;
    justify-content: center;
}

.nav-social {
    display: flex;
}