.header_wrapper {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    padding: 20px 10px 12px 10px;
}

.header_wrapper_black {
    background: rgb(0, 0, 0);
}

.header {
    display: block;
    position: relative;
    height: 40px;
    width: 1200px;
    margin: 0 auto;
}

.header__container {
    font-family: 'WWFRegular', serif;
    line-height: 40px;
    margin: 0 auto;
    display: flex;

}

.header__logo {
    display: block;
    //     // background-image: url('/public/images/logo-c562409bb6158bf64e5f8b1be066dbd5983d75f5ce7c9935a5afffbcc03f8e5d.png');
    height: 120px;
    width: 100px;
    position: absolute;
    top: 0px;
    z-index: 3;
    top: -20px;
}

.header .nav a {
    display: block;
    font-weight: bold;
}

.header__nav {
    margin-left: 308px;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 38px;
    padding: 0 10px;


}

.nav {
    display: flex;
    justify-content: center;

    li>a:first-of-type {
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: normal;
        display: block;
        // Изменить на 20пк после поиска
        padding: 0 10px;
    }
}

.nav_black li>a:first-of-type {
    color: #000;
}


.header .nav>li>a {
    text-transform: uppercase;
}

.header__right {
    margin-left: 11px;
    font-size: 13px;

    ul {
        display: flex;
        justify-content: end;

    }
}

.gray {
    display: block;
    font-family: "WWFopensansBold", serif;
    font-size: 13px;
    font-weight: lighter;
    font-size: 100%;
    color: #989b97;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}
.speciec_black {
    color: #000;
}


.action-primary {
    margin: 0 10px;
}

// ПОИСК!!!!!!!!!!!!!!!!!!!!!!!!
.form-inline {
    position: relative;
    width: 130px;
    box-sizing: border-box;
    }

.form-inline_input {
    box-shadow: none;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==) no-repeat right;
    border-radius: 3px;
    font-style:italic;
    height: 30px;
    line-height: 1;
    padding: 0 40px 0 9px;
}