.header_section {
    position: relative;

}

.attribution {
    color: #fff;
    font-size: 9px;
    position: absolute;
    right: 15px;
    text-shadow: 0 1px 0 #000;
    top: 11px;
    z-index: 4;
}

.header_section_main {
    background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/18701/images/hero_full/Medium_WW22786.jpg?1582815937');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    position: relative;
}



.header_section_title_wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.75));
    
.header_section_title {
    color: rgb(255, 255, 255);
    position: absolute;
    margin: 0 120px;
    bottom: 0;
    z-index: 3;
    padding: 30px 15px;
   
   
    

    h2 {
        text-transform: uppercase;
        font: 52px/1.1 'WWFRegular', serif;
        color: rgb(255, 0, 0);
        font-weight: bold;
    }

    h3 {
        margin-bottom: 2px;
    }
}
}