.header {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px 10px 12px 10px;
}
.header__container {
    line-height: 40px;
    margin: 0 auto;
    display: flex;

}
.header__logo {
    display: block;
//     // background-image: url('/public/images/logo-c562409bb6158bf64e5f8b1be066dbd5983d75f5ce7c9935a5afffbcc03f8e5d.png');
    height: 120px;
    width: 100px;
    top: 0px;
    z-index: 3;
    margin-left: 150px;
}

.header__nav {
    ul {
        display: flex;
        justify-content: center;
        // margin-left: 70px;

        li a {
            text-transform: uppercase;
            color: rgb(255, 253, 253);
            display: block;
            padding: 0px 10px;
        }
    }
}

.header__right {
    ul {
        display: flex;
        justify-content: end;
    }
}
