#header {
    background: radial-gradient(ellipse at top, rgba(0,0,0,.45) 34%, rgba(0,0,0,0) 67%);
}


#header wrapper {
    max-width: 1200px;
    position: relative;
}



#header .logo {
background: url(/public/images/logo-c562409bb6158bf64e5f8b1be066dbd5983d75f5ce7c9935a5afffbcc03f8e5d.png) no-repeat;
box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    height: 120px;
    margin: 0;
    position: absolute;
    top: -20px;
    width: 100px;
    z-index: 3;
}