.header {
    background-image: linear-gradient(#fff, #ccc);
    color: #333;
    border-bottom: 1px solid #aaa;
} 

a {
    text-decoration: none;
}
.menu {
    background-color: rgb(161, 245, 238);
    font-weight: 400;
}

.menu__item {
    margin-top: 25px;
}