body {
    height: 200px;
    width: 200px;

}

.like__checkbox {
    display: none;
}

.like__checkbox__heart {
    display: block;
    height: 200px;
    width: 200px;
    background: url("https://clipartart.com/images/checkered-heart-clipart-6.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.like__checkbox__heart:hover {
    background: url(https://clipartart.com/images/anniversary-heart-clipart-6.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.like__checkbox:checked~span {
    background: url(http://www.vhv.rs/file/max/22/223339_red-heart-png.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.like__checkbox:checked:hover~span {
    opacity: 0.3;
}