.wrapper_grid {
    margin-top: 45px;
}

.card_bgi {
    background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18683/images/card_2_large/snow_leopards.JPG?1582036438);
    background-size: contain;
}