.progressbar {
    border: 1px solid #66f;
    width: 300px;
    height: 20px;
}

.progressbar__progress {
    background-color: #99f;
    width: 72%;
    height: 100%;
}

.progressbar__value {
    position: absolute;
    top: 10px;
    left: 150px;
}